* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

#board {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 400px 50px;
  grid-template-rows: 50px 400px 50px;
  border: 1px solid black;
}

.placeholder-block {
  background-color: black;
}

#blackbox {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #bbb;
}

[id*='launch-point-row'] {
  display: flex;
}

#launch-point-row-left,
#launch-point-row-right {
  flex-direction: column;
}

.launch-point {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.launch-point:hover {
  background-color: #555;
}

#controls {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}
