* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

/* Score */
#score {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#current-score {
  margin-left: 10px;
}

/* Blackbox Board */
#board {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 400px 50px;
  grid-template-rows: 50px 400px 50px;
  border: 1px solid black;
}

.placeholder-block {
  background-color: black;
}

#blackbox {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #bbb;
}

.cell:hover {
  background-color: #ddd;
  cursor: pointer;
}

[id*="launch-point-row"] {
  display: flex;
}

#launch-point-row-left,
#launch-point-row-right {
  flex-direction: column;
}

.launch-point {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.launch-point:hover {
  background-color: #555;
  cursor: pointer;
}

/* New, Reset, Show features */
#controls {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.atom-text {
  color: red;
  font-size: 30px;
  text-align: center;
}

/* Result Texts */
.hit-text {
  color: red;
  font-size: 30px;
  text-align: center;
}
.reflect-text {
  color: rgb(191, 199, 40);
  font-size: 30px;
  text-align: center;
}

.deflect-text {
  color: rgb(149, 101, 13);
  font-size: 30px;
  text-align: center;
}

.miss-text {
  color: rgb(64, 8, 75);
  font-size: 30px;
  text-align: center;
}
